@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.list {
  @include flex(center, center, row, wrap);
  margin: 0;
  padding: 0;
  list-style-type: none;
  .element {
    position: relative;
    width: 48px;
    height: 48px;
    .button {
      position: relative;
      width: 100%;
      height: 100%;
      transition: color 0.25s linear, font-weight 0.25s;
      cursor: pointer;
      &::before {
        content: '';
        @include absolute-center;
        border-radius: $circle_radius;
        background-color: $white;
        border: $light-border-width solid $black;
        width: 80%;
        height: 80%;
        z-index: $background;
        transition: transform 0.25s cubic-bezier(0.16, 1.14, 0.9, 1.42), background-color 0.25s linear;
      }
    }
    &Active {
      @extend .element;
      .button {
        font-weight: $semi-bold;
        color: $primary;
        position: relative;
        &::before {
          background-color: $black;
          transform: scale(0.8);
        }
      }
    }
  }
}
.button {
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: $small;
  &Special {
    @extend .button;
    font-weight: $semi-bold;
  }
}
