@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.list {
  @include flex(center, center, row, no-wrap);
  margin: 0;
  padding: 0;
  list-style-type: none;
  .element {
    border-right: 1px solid #eee;
    &:last-child {
      border-right: none;
    }
    &Active {
      @extend .element;
      background: rgba($primary, $half-ivisible);
    }
  }
}
.button {
  background: transparent;
  border: none;
  box-shadow: none;
  height: 48px;
  width: 48px;
  font-size: $small;
  &Special {
    @extend .button;
    font-weight: 700;
  }
}
