//colors
$white: #fff;
$black: #222;
$primary:rgb(246, 135, 135);

//fonts
$small:0.7rem;
$regular:1rem;
$big:1.2rem;


//fonts weight
$semi-bold:700;


// opacity
$invisible:0;
$half-ivisible:.5;
$visible:1;

//border radius
$default_radius:7px;