.elementWrapper{
    border-radius: 10px;
    box-shadow: 2px 0 10px 2px rgba($color: #333, $alpha: 0.2);
    display: grid;
    grid-template-columns: 100px 1fr;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .name{
            font-weight: 700;
            text-transform: capitalize;
        }
        .xpPoints{
            opacity: .5;
            font-size: .8em;
        }
        .tagsList{
            display: inline-flex;
            justify-content: space-around;
            margin-top: 10px;
            .tag{
                margin-right: 5px;
                border-radius: 3px;
                padding: 2px 4px;
                color: #fff;
                text-transform: capitalize;
                font-size: .7em;
            }
        }
    }
}