@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.wrapper{
   display: grid;
   grid-template-rows: 40px auto auto;
}

.mainHeader{
    @include flex(center,center);
    .image{
        @include flex(center,center);
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top:-40px;
            left: 0;
            right: 0;
            margin: auto;
            width: 90%;
            height: 100%;
            z-index: -999;
            border-radius:0 0 50% 50%;
            background: rgba($primary,$half-ivisible);
                   }
        img{
            animation: slide .6s forwards;

        }
        animation: slide .6s forwards;
    }
    .name{
        text-transform: capitalize;
        margin-bottom: 0;
    }
}
.content{
    padding: 5vh 5vw;

}
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
  }
  th{
      background: #eee;
      padding: 15px;
      
  }
  td{
      padding: 10px;
  }
  table, th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

@keyframes slide{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

