@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.selectFilter {
  border: 2px solid $primary;
  color: $primary;
  font-size: $regular;
  padding: 7px 10px;
  border-radius: $default_radius;
  text-transform: capitalize;
  background: transparent;
  margin: 0 10px;
}
