@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.filterWrapper{
    .selectFilter{
        border:2px solid $primary;
        color: $primary;
        font-size: $small;
        padding: 10px;
        border-radius: 5px;
        text-transform: capitalize;
        width: 100px;
        background: transparent;
        margin: 0 10px;
    }
    .button{
        border:2px solid $primary;
        cursor: pointer;
        color: $white;
        font-weight: $semi-bold;
        border-radius: 5px;
        padding: 10px 20px;
        background: $primary;
        font-size: $small;
    }
}