@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.label {
  @include flex(flex-start);
  font-size: $small;
  color: $black;
  font-weight: $semi-bold;
  .selectFilter {
    width: 100%;
    border: 2px solid $primary;
    color: $primary;
    font-size: $regular;
    padding: 7px 10px;
    border-radius: $default_radius;
    text-transform: capitalize;
    background: transparent;
    margin-top: 4px;
  }
}
